<div class="row" *ngIf="book">
    <div class="col-sm-12 padding-right">
        <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img [src]="book.imageUrls[0]" [alt]="book.title"/>
                </div>
                <book-images [book]="book"></book-images>
            </div>
            <div class="col-sm-7">
                <div class="product-information"><!--/product-information-->
                    <h2>
                        {{book.title}}
                        <small>by {{book.author}}</small>
                    </h2>

                    <img src="images/product-details/rating.png" alt=""/>
                    <span>
									<span>US $59</span>
									<label>Quantity:</label>
									<input type="text" value="1"/>
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
                    <p><b>Availability:</b> In Stock</p>
                    <p><b>Condition:</b> New</p>
                    <p><b>Brand:</b> E-SHOPPER</p>
                    <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""/></a>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->

        <div class="category-tab shop-details-tab"><!--category-tab-->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li><a href="#details" data-toggle="tab">Details</a></li>
                    <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
                    <li><a href="#tag" data-toggle="tab">Tag</a></li>
                    <li class="active"><a href="#reviews" data-toggle="tab">Reviews ({{book.comments.length}})</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade" id="details">
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery1.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery2.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery3.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery4.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="companyprofile">
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery1.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery3.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery2.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery4.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tag">
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery1.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery2.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery3.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery4.jpg" alt=""/>
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade active in" id="reviews">
                    <div class="col-sm-12">
                        <div *ngFor="let comment of book.comments">
                            <ul>
                                <li><a [href]="comment.user.profileUrl"><i class="fa fa-user"></i>{{comment.user.name}}</a>
                                </li>
                                <li><a href=""><i class="fa fa-clock-o"></i>{{comment.timeStamp}}</a></li>
                                <li><a href=""><i class="fa fa-calendar-o"></i>{{comment.timeStamp}}</a></li>
                            </ul>
                            <p>
                                {{comment.text}}
                            </p>
                        </div>
                        <p><b>Write Your Review</b></p>
                        <comment-form></comment-form>
                    </div>
                </div>

            </div>
        </div><!--/category-tab-->

        <!--<div class="recommended_items">&lt;!&ndash;recommended_items&ndash;&gt;-->
        <!--<h2 class="title text-center">recommended items</h2>-->

        <!--<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">-->
        <!--<div class="carousel-inner">-->
        <!--<div class="item active">-->
        <!--<div class="col-sm-4">-->
        <!--<div class="product-image-wrapper">-->
        <!--<div class="single-products">-->
        <!--<div class="productinfo text-center">-->
        <!--<img src="images/home/recommend1.jpg" alt=""/>-->
        <!--<h2>$56</h2>-->
        <!--<p>Easy Polo Black Edition</p>-->
        <!--<button type="button" class="btn btn-default add-to-cart"><i-->
        <!--class="fa fa-shopping-cart"></i>Add to cart-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
        <!--<div class="product-image-wrapper">-->
        <!--<div class="single-products">-->
        <!--<div class="productinfo text-center">-->
        <!--<img src="images/home/recommend2.jpg" alt=""/>-->
        <!--<h2>$56</h2>-->
        <!--<p>Easy Polo Black Edition</p>-->
        <!--<button type="button" class="btn btn-default add-to-cart"><i-->
        <!--class="fa fa-shopping-cart"></i>Add to cart-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
        <!--<div class="product-image-wrapper">-->
        <!--<div class="single-products">-->
        <!--<div class="productinfo text-center">-->
        <!--<img src="images/home/recommend3.jpg" alt=""/>-->
        <!--<h2>$56</h2>-->
        <!--<p>Easy Polo Black Edition</p>-->
        <!--<button type="button" class="btn btn-default add-to-cart"><i-->
        <!--class="fa fa-shopping-cart"></i>Add to cart-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="item">-->
        <!--<div class="col-sm-4">-->
        <!--<div class="product-image-wrapper">-->
        <!--<div class="single-products">-->
        <!--<div class="productinfo text-center">-->
        <!--<img src="images/home/recommend1.jpg" alt=""/>-->
        <!--<h2>$56</h2>-->
        <!--<p>Easy Polo Black Edition</p>-->
        <!--<button type="button" class="btn btn-default add-to-cart"><i-->
        <!--class="fa fa-shopping-cart"></i>Add to cart-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
        <!--<div class="product-image-wrapper">-->
        <!--<div class="single-products">-->
        <!--<div class="productinfo text-center">-->
        <!--<img src="images/home/recommend2.jpg" alt=""/>-->
        <!--<h2>$56</h2>-->
        <!--<p>Easy Polo Black Edition</p>-->
        <!--<button type="button" class="btn btn-default add-to-cart"><i-->
        <!--class="fa fa-shopping-cart"></i>Add to cart-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
        <!--<div class="product-image-wrapper">-->
        <!--<div class="single-products">-->
        <!--<div class="productinfo text-center">-->
        <!--<img src="images/home/recommend3.jpg" alt=""/>-->
        <!--<h2>$56</h2>-->
        <!--<p>Easy Polo Black Edition</p>-->
        <!--<button type="button" class="btn btn-default add-to-cart"><i-->
        <!--class="fa fa-shopping-cart"></i>Add to cart-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">-->
        <!--<i class="fa fa-angle-left"></i>-->
        <!--</a>-->
        <!--<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">-->
        <!--<i class="fa fa-angle-right"></i>-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>&lt;!&ndash;/recommended_items&ndash;&gt;-->
    </div>
</div>