.carousel.slide img {
    height: 300px;
}

.slider-annotation {
    max-height: 218px;
    overflow: hidden;
}

.slider-details {
    height: 420px;
}

.ng-dirty.ng-valid[required], .ng-dirty.ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-dirty.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}