<div class="product-image-wrapper" *ngIf="book">
    <div class="single-products">
        <div class="productinfo text-center">
            <a [routerLink]="['/book', book._id]">
                <img [src]="book.imageUrls[0]" [alt]="book.title"/>
            </a>
            <h2>$56</h2>
            <p>
                <a
                        class="book-details-link"
                        [routerLink]="['/book', book._id]">
                    {{book.title}}
                </a>
            </p>
            <p>by {{book.author}}</p>
            <p>{{book.releaseYear}}</p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
        </div>
    </div>
    <div class="choose">
        <ul class="nav nav-pills nav-justified">
            <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
            <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
        </ul>
    </div>
</div>