<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li *ngFor="let item of items; let i = index"
                            data-target="#slider-carousel"
                            attr.data-slide-to='{{i}}'
                            [class]="i == 0 ? 'active' : ''">
                        </li>
                    </ol>

                    <div class="carousel-inner">
                        <slider-item
                                *ngFor="let book of items; let i = index;"
                                [isActive]="i === 0"
                                [book]="book"></slider-item>
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->
